# Python Sessions with DEPI - session 2

### Slicing a List

In [1]:
# Working with Part of a List 
# remember: last index is not included
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[0:3])
print(names[0:4])

['mahmoud', 'ali', 'ahmed']
['mahmoud', 'ali', 'ahmed', 'mohamed']

In [3]:
names=['mahmoud', 'ali', 'ahmed', 'mohamed']
print(type(names))

<class 'list'>

In [2]:
names=list(('mahmoud', 'ali', 'ahmed', 'mohamed'))
print(type(names))

<class 'list'>

In [3]:
names[-1]

'mohamed'

In [4]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

print(names[:4])
print(names[2:])
print(names[-3:])
print(names[-3:-2])

['mahmoud', 'ali', 'ahmed', 'mohamed']
['ahmed', 'mohamed']
['ali', 'ahmed', 'mohamed']
['ali']

In [5]:
#Looping Through a Slice
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

for name in names:
    print(name)

mahmoud
ali
ahmed
mohamed

In [4]:
# Copying a List

my_foods = ['pizza', 'falafel', 'cake']

friend_foods = my_foods
print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'cake']
['pizza', 'falafel', 'cake']

#### Tuples
Python refers to values that cannot change as immutable, and an immutable list is called a tuple.

In [7]:
my_list = [10, 20]
my_list[0] = 250
print(my_list)

[250, 20]

In [8]:
dimensions = (200, 50) 
print(dimensions[0])

200

In [15]:
print(type(dimensions))
print(len(dimensions))

<class 'tuple'>
2

## You can not modify the values in tuples

In [5]:
G = (2,3,4)
G[0]=10
print(G)

TypeError: 'tuple' object does not support item assignment

In [7]:
t1 = ('a',2,'c')
t2 = ('x','y','z',True)
print(t1 + t2)

('a', 2, 'c', 'x', 'y', 'z', True)

In [8]:
print(type(t1))
print(t1*3)

<class 'tuple'>
('a', 2, 'c', 'a', 2, 'c', 'a', 2, 'c')

In [27]:
print(t1.count(2))

1

In [28]:
print(t1.index('a'))

0

##Write a program that accepts a sequence of comma seperated numbers from users and generates a list and a tuple with those numbers

In [20]:
numbers = input("Enter a sequence of comma separated numbers ")
numbers_list = numbers.split(",")
numbers_tuple = tuple(numbers_list)
print("List:", numbers_list)
print("Tuple:", numbers_tuple)

Enter a sequence of comma separated numbers 5,6,8
List: ['5', '6', '8']
Tuple: ('5', '6', '8')

In [22]:
my_tuple = ('a',3,True,'b')
my_list = list(my_tuple)
# my_list = tuple(my_list)
print(my_list)

['a', 3, True, 'b']

### Dictionaries
A dictionary in Python is a collection of key-value pairs. Each key is connected
to a value, and you can use a key to access the value associated with that key.


A key’s value can be a number, a string, a list, or even another dictionary.

In [11]:
user = {'Name': 'Ali',
        'Age': 25}   

print(user['Name'])
print(user['Age'])

Ali
25

In [23]:
user2 = {10: 20, 30: 5}
print(user2)

{10: 20, 30: 5}

In [2]:
print(user2[30])

5

In [24]:
# Adding New Key-Value Pairs

user = {'Name': 'Ali', 'Age': 25}

user['Address'] = 'Egypt'
user['weight'] =  70
print(user)

{'Name': 'Ali', 'Age': 25, 'Address': 'Egypt', 'weight': 70}

In [4]:
# there is no indexing with value only with key
user['Ali']

KeyError: 'Ali'

In [25]:
# Modifying Values in a Dictionary
user['Address'] = 'USA'

In [26]:
user

{'Name': 'Ali', 'Age': 25, 'Address': 'USA', 'weight': 70}

In [8]:
# Removing Key-Value Pairs

del user['Address']
user

{'Name': 'Ali', 'Age': 25, 'weight': 70}

In [16]:
user['Name']=['Ali','Ahmed']
user

{'Name': ['Ali', 'Ahmed'], 'Age': 25, 'weight': 70}

In [17]:
print(user['Name'][0])

Ali

In [28]:
# A Dictionary of Similar Objects
favorite_languages = {
'mohamed': 'python',
'ola': 'c',
'emad': 'ruby',
'sara': 'c++',
}
print(favorite_languages ['sara'])
print(favorite_languages ['emad'])

c++
ruby

In [29]:
favorite_languages

{'mohamed': 'python', 'ola': 'c', 'emad': 'ruby', 'sara': 'c++'}

In [31]:
# get method
ola_value = favorite_languages.get('ola')
print(ola_value)

c

In [21]:
# If the key is not matched, print 'None'
ahmed_value = favorite_languages.get('ahmed','None')
print(emad_ahmed)

None

In [36]:
x = 'max'
value = favorite_languages.get(x, f'No {x} value assigned.')
print(value)

No max value assigned.

In [37]:
user = {'Name': 'Ali',
        'Age': 25}

In [38]:
#Looping Through a Dictionary
# a=key, b=value
for a, b in user.items():
    print(f"\nKey: {a}")
    print(f"Value: {b}")

Key: Name
Value: Ali

Key: Age
Value: 25

In [41]:
print(f"\nKey: {a}")

Key: Age

In [43]:
print(f"Key: {a}")

Key: Age

In [44]:
user

{'Name': 'Ali', 'Age': 25}

In [46]:
for x in user.keys():
    print(x)

Name
Age

In [47]:
for x in user.values():
    print(x)

Ali
25

### if Statements

In [49]:
age = 19

print(age == 17)

False

A single equal sign is really a statement; you might read the code as “Set the value of age equal to 19.” 


On the other hand, a double equal sign (==) , asks a question: “Is the value of age equal to 17?”

In [30]:
age = 15
if age == 15:
    print("You can vote!")

You can vote!

In [31]:
age = 19
if age != 15:
    print("You can not vote!")

You can not vote!

In [52]:
age = int(input('Enter your age'))
if age >= 15:
    print("You can vote")
else:
    print("You canot vote")

Enter your age12
You canot vote

In [32]:
# Checking Whether a Value Is "in" a List
names = ['Ali', 'mohamed', 'mona']
print('mona' in names)
print('ahmed' in names)

True
False

In [33]:
# Checking Whether a Value Is Not "in" a List

banned_users = ['Ali', 'mohamed', 'mona']
user = 'max'
if user not in banned_users:
    print(f"{user}, is not in the banned users list")

max, is not in the banned users list

In [53]:
# if-else Statements
my_list = ['samy', 'bmw', 'mona', 'toyota']

for i in my_list:
    if i == 'bmw':
       print(i.upper())
    else:
       print(i.title())
# print only "upper(bmw)", and the rest has "title" format

Samy
BMW
Mona
Toyota

In [56]:
# Boolean Expressions
active = True
offline = False

In [41]:
# The if-elif-else Chain
age = 50

if age < 30:
   print("your offer is 30%")
elif age < 50:
   print("your offer is 50%")
else:
   print("your offer is 60%")

your offer is 60%

In [37]:
# Using Multiple elif Blocks

age = 20
if age < 30:
   print("your offer is 30%")
elif age < 50:
   print("your offer is 50%")
elif age < 60:
   print("your offer is 60%")
else:
   print("your offer is 70%")

your offer is 30%

In [59]:
#Note, Python does not require an else block at the end of an if-elif chain.

age = 40
if age < 30:
   print("your offer is 30%")
elif age < 50:
   print("your offer is 50%")
elif age < 60:
   print("your offer is 60%")

#No else statement.
# If the age>60 nothing happens

your offer is 50%

In [60]:
x = 10
y = 20
print(x+y)

30

In [61]:
# User Input
message = input("Tell me something, and I will repeat it back to you: ")
print(message)

Tell me something, and I will repeat it back to you: I love You
I love You

In [62]:
a = [1,2]
b = [3,4]
a += b
print(a)
# Add list b on list a

[1, 2, 3, 4]

In [71]:
name = "ali "
name += "mohamed"
print(name)

ali mohamed

In [69]:
name = "ali"
name = name +" "+ "mohamed"
print(name)

ali mohamed

In [72]:
prompt = "If you tell us who you are, we can personalize the messages you see."
prompt += "\nWhat is your first name? "
name = input(prompt)
print(f"\nHello, {name}!")

If you tell us who you are, we can personalize the messages you see.
What is your first name? Bassant

Hello, Bassant!

In [ ]:
age = input("How old are you? ") 

if age >= 18 :
    print('you can vote')

In [3]:
#When you use the input()  function, Python interprets everything the user enters as a string.

age = input("How old are you? ")
print(type(age))

How old are you? 12
<class 'str'>

In [74]:
age = 10
age = "20"
print(age)
print(type(age))

20
<class 'str'>

In [1]:
#Using int() to Accept Numeric Input

age = input("How old are you? ")# "20"
age = int(age) # 20
if age >= 18:
   print('you can vote')
else:
    print('You cannot vote')

How old are you? 12
You cannot vote

In [77]:
score = input("Enter Score Grade: ")
score = int(score) 
if score < 60:
   print("Your grade is an F")
elif score < 70:
   print("grade D")
elif score < 80:
   print("grade C")
elif score < 90:
   print("grade B" )
elif score <= 100:
   print("grade A")
else:
   print("wrong score")

Enter Score Grade: 100
grade A

In [12]:
a = 30
b = 30
print('b is geater') if b>a else print('a and b are equal') if a==b else print('a is greater')

a and b are equal

In [46]:
print(65 / 3)

21.666666666666668

In [4]:
print(65 // 3)

21

In [5]:
# while Loops
number = 1
while number <= 5:
   print(number)
   number += 1

1
2
3
4
5

In [13]:
# Letting the User Choose When to Quit

prompt = "\nTell me something, and I will repeat it back to you:"
prompt += "\nEnter 'quit' to end the program. "

message = ""
while message != 'quit':
   message = input(prompt)
   print(message)

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. Bassant
Bassant

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. quit
quit

In [2]:
print('Ali' != 'quit')

True

In [3]:
# Using a Flag
prompt = "\nTell me something, and I will repeat it back to you:"
prompt += "\nEnter 'quit' to end the program. "

active = True
while active:
   message = input(prompt)
   if message == 'quit':
       active = False
   else:
       print(message)

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. active
active

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. H
H

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. quit

In [4]:
#Using break to Exit a Loop

prompt = "\nPlease enter the name of a city you have visited:"
prompt += "\n(Enter 'quit' when you are finished.) "
while True:
    
   city = input(prompt)
   if city == 'quit':
       break
   else:
       print(f"I'd love to go to {city.title()}!")

Please enter the name of a city you have visited:
(Enter 'quit' when you are finished.) cairo
I'd love to go to Cairo!

Please enter the name of a city you have visited:
(Enter 'quit' when you are finished.) paris
I'd love to go to Paris!

Please enter the name of a city you have visited:
(Enter 'quit' when you are finished.) quit

In [1]:
#Avoiding Infinite Loops
x = 1
while x <= 5:
   print(x)
   x += 1

1
2
3
4
5

In [ ]:
# infinite loop      DO NOT RUN
# it will print 1s untill the system need to be restarted
x = 1
while 1 <= 5:
   print(x)

In [ ]:
''' Important Notes
List []
Tuple ()
Dictionary {}

lists use "remove", dictionaries use "del", Tuples can't be modified
'''